@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

.typewriter {
  overflow: hidden; /* Masque le texte dépassant */
  border-right: 0.15em solid #fff; /* Curseur */
  white-space: nowrap; /* Empêche le retour à la ligne */
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff; }
}

/* Styles pour la frise chronologique */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #ddd;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-event {
  padding: 20px 30px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-event.left {
  left: 0;
}

.timeline-event.right {
  left: 50%;
}

.timeline-event::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-event.right::after {
  left: -16px;
}

.timeline-content {
  padding: 20px 30px;
  background-color: #f1f1f1;
  position: relative;
  border-radius: 6px;
}

.timeline-event.left .timeline-content {
  margin-left: 0;
}

.timeline-event.right .timeline-content {
  margin-left: 0;
}

/* Responsivité pour petits écrans */
@media screen and (max-width: 768px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-event {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-event.right {
    left: 0%;
  }

  .timeline-event::after {
    left: 15px;
  }
}